<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IronHack Website</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>
<body>
<!-- <script type="text/javascript">
	var x1 = 0
	var y1 = 0
	setInterval(()=>{
		x1 += 1;
		y1 -= 2;
		$.get(`/set_player?pn=1&x=${x1}&y=${y1}`)
	},1000)
</script>
 -->
 	<h1>HELLO {{name}}</h1>
	<h1>New Website online</h1>

<form action="/new_player1" method="get">
	<input type="submit" name="submit" value="Player 1">
</form>

<form action="/new_player2" method="get">
	<input type="submit" name="submit" value="Player 2">
</form>

<form action="/login" method="POST">
  <label for="email">Email</label>
  <input id="email" type="text" name="email">
  
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  
  <button type="submit">
    Login
  </button>
</form>
	{{#each dogs}}
		{{name}} {{age}}
	{{/each}}
	<p>
		 Maître {{animal}}, sur un arbre perché,
        Tenait en son bec un fromage.
Maître renard par l'odeur alléché ,
        Lui tint à peu près ce langage :
        «Et bonjour Monsieur du {{animal}}.
Que vous êtes joli! que vous me semblez beau!
        Sans mentir, si votre ramage
        Se rapporte à votre plumage,
Vous êtes le phénix des hôtes de ces bois»
A ces mots le {{animal}} ne se sent pas de joie;
        Et pour montrer sa belle voix,
Il ouvre un large bec laisse tomber sa proie.
Le renard s'en saisit et dit: "Mon bon Monsieur,
            Apprenez que tout flatteur
Vit aux dépens de celui qui l'écoute:
Cette leçon vaut bien un fromage sans doute."
        Le {{animal}} honteux et confus
Jura mais un peu tard , qu'on ne l'y prendrait plus.

	</p>
</body>
</html>